<!-- Button trigger modal -->
button.btn.btn-primary#launchModal.visually-hidden(type="button", data-bs-toggle="modal", data-bs-target="#staticBackdrop").
    Launch password Reset
  

<!-- Modal -->
.modal.fade#staticBackdrop(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                h1.modal-title.fs-5#staticBackdropLabel Create new password
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                form(action=`/dashboard/users/changepass/${user.id}`,method='post')
                    .row.mb-3
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                input.form-control#newPassd(type="password" placeholder="Enter your New Password" value=`${user.firstName}` name='pass' required)
                                label(for="newPassd") New Password
                        .col-md-6
                            .form-floating
                                input.form-control#confirm(type="password" placeholder="Confirm" value=`${user.lastName}` name='password' required)
                                label(for="confirm") Confirm Password
                    //- .mt-4.mb-0
                        .d-grid
                            button.btn.btn-primary.btn-block(type='button' onclick=`resetUserPassword(${user.id})`) Save

            .modal-footer
                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary(type="button" onclick=`resetOwnPassword(${user.id})`) Save