extends dashLayout 
block content
    main
        .container-fluid.px-4
            h1.mt-4 #{title}
            ol.breadcrumb.mb-4
                li.breadcrumb-item
                    a(href="/dashboard") Dashboard
                li.breadcrumb-item.active #{title}
            .card.mb-4
                .card-body
                    form.d-flex.align-items-center.justify-content-center(action="/dashboard/import-mails" method="POST" enctype="multipart/form-data")
                        .form-group
                            label(for="file") Choose CSV File 
                            input.form-control-file#file(type="file" name="file" accept=".csv", required)
                        button.btn.btn-primary(type="submit") Upload

            .card.mb-4
                .card-header
                    i.fas.fa-table.me-1
                    | Newly imported mails

                .card-body
                    table#datatablesSimple
                        thead
                            tr
                                th Email
                                th Name
                                th Department
                                th Date created
                                th Date updated
                        tfoot
                            tr
                                th Email
                                th Name
                                th Department
                                th Date created
                                th Date updated
                        if (user.Role.name == 'Super Admin')
                            tbody
                                each mail in data
                                    tr
                                        td=mail.email
                                        td=mail.name
                                        if (mail.Department)
                                            td=mail.Department.name
                                        else 
                                            td N/A
                                        td=moment(mail.createdAt).format('MMMM Do YYYY, h:mm:ss a')
                                        td=moment(mail.updatedAt).format('MMMM Do YYYY, h:mm:ss a')
                                        //- td #{mail.User.firstName} #{mail.User.lastName}
                        
