extends dashLayout 
block content
    main
        .container-fluid.px-4
            h1.mt-4 #{title}
            ol.breadcrumb.mb-4
                li.breadcrumb-item.active #{title}
            .card.mb-4
                .card-header
                    i.fas.fa-table.me-1
                    |  New

                .card-body
                    table#datatablesSimple
                        thead
                            tr
                                th Email
                                th Name
                                th Department
                                //- th Type
                                th Status
                                th Date
                        tfoot
                            tr
                                th Email
                                th Name
                                th Department
                                //- th Type
                                th Status
                                th Date
                        tbody
                            each req in data
                                tr
                                    td=req.email
                                    td=req.fullName
                                    td=req.department
                                    //- td=req.RequestType.name
                                    if (req.RequestStatus.name == 'Pending')
                                        td
                                            span.badge.text-bg-warning=req.RequestStatus.name
                                    else
                                        td
                                            span.badge.text-bg-success=req.RequestStatus.name
                                    td=moment(req.createdAt).format('MMMM Do YYYY, h:mm:ss a')