extends dashLayout 
block content
    main
        .container-fluid.px-4
            h1.mt-4 #{title}
            ol.breadcrumb.mb-4
                li.breadcrumb-item.active #{title}
            .card.mb-4
                .card-header
                    i.fas.fa-table.me-1
                    |  New

                .card-body
                    table#newMails
                        //- table#datatablesSimple
                        thead
                            tr
                                th Email
                                th Name
                                th Department
                                th Status
                                th Date
                                th Created by
                        tfoot
                            tr
                                th Email
                                th Name
                                th Department
                                th Status
                                th Date
                                th Created by
                        //- if (user.Role.name == 'Super Admin')
                        tbody
                            each req in data
                                tr
                                    td=req.email
                                    td=req.fullName
                                    td=req.department
                                    //- td=req.RequestType.name
                                    if (req.RequestStatus.name == 'Pending')
                                        td
                                            span.badge.text-bg-warning=req.RequestStatus.name
                                    else
                                        td
                                            span.badge.text-bg-success=req.RequestStatus.name
                                    td=moment(req.createdAt).format('MMMM Do YYYY, h:mm:ss a')
                                    td #{req.User.firstName} #{req.User.lastName}

    //- script.
    //-     $(document).ready(function() {
    //-         // Initialize DataTable
    //-         var newMails = $('#newMails').DataTable();

    //-         // Add DataTables Buttons plugin options
    //-         var buttons = [
    //-             'copy',
    //-             'excelHtml5',
    //-             'pdfHtml5',
    //-             'print'
    //-         ];

    //-         // Add DataTables Buttons plugin to DataTable
    //-         new $.fn.dataTable.Buttons(newMails, {
    //-             buttons: buttons
    //-         });

    //-         // Display DataTables Buttons plugin
    //-         newMails.buttons().container().appendTo($('#example_wrapper .col-md-6:eq(0)'));
    //-     });