extends layout
block content
    if (status == "success")
        //- alert
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            i.bi.bi-check-circle-fill 
            |  An email has been found under that name as follows
            button.btn-close(type='button' data-dismiss='alert' aria-label='Close')
        //- .alert.bg-success.text-white Mail found
        form(action="/mails/reset" method="post")#myform
            if (data.Department.name)
                .form-floating.mb-3
                    input(type="text" class="form-control" id="depertment" value=`${data.Department.name}` name="department" placeholder="Last Name", required, disabled)
                    input(type="hidden" class="form-control" id="depertment" value=`${data.Department.name}` name="department" placeholder="Last Name", required)
                    label(for="depertment") Department
            //- The hidden inputs are the ones that are being posted since the disabled field cannot be posted
            .form-floating.mb-3
                input(type="text" class="form-control" id="lastName" value=`${data.name}` name="fullName" placeholder="Last Name", required disabled)
                input(type="hidden" class="form-control" id="lastName" value=`${data.name}` name="fullName" placeholder="Last Name", required)
                label(for="fullName") Full Name
            .form-floating.mb-3
                input(type="email" class="form-control" id="email" value=`${data.email}` name="email" placeholder="Email", required disabled)
                input(type="hidden" class="form-control" id="email" value=`${data.email}` name="email" placeholder="Email", required)
                label(for="email") Email
            .form-floating.mb-3
                if (data.phone != null)
                    input(type="tel" class="form-control" id="phone" name="phone" value=`0${data.phone}` placeholder="Phone", required)
                else
                    input(type="tel" class="form-control" id="phone" name="phone" placeholder="Phone", required)
                    //- setting focus to get the attention for user to input theire phone number
                    script.
                        window.addEventListener('DOMContentLoaded', (event) => {
                            const inputElement = document.getElementById('phone');
                            inputElement.focus();
                        });
                //- input(type="hidden" class="form-control" id="phone" value=`${data.phone}` name="phone" placeholder="Phone", required)
                label(for="phone") Phone
                p.text-muted Please consider entering your phone number for optional feedback purposes.
            button(type="submit" class="btn btn-danger w-100 mt-3")#submitbtn
                i.fa.fa-paper-plane.me-2
                | Reset Password 
                span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")#spina
    else

        form( method="post" action='/mails/user')#myform2
            .alert.alert-dismissible.fade.show(role='alert',class=`alert-${status}`)
                i.bi.bi-exclamation-triangle-fill 
                | #{data} 
                button.btn-close(type='button' data-dismiss='alert' aria-label='Close')
            //- try again <button type='submit' class="btn btn-danger btn-sm" role="button">Request</button>
            //- .form-floating.mb-3
            //-     input(type="text" class="form-control" id="depertment" value=`${current.dpt.name}` name="department" placeholder="Last Name", required)
            //-     label(for="depertment") Department
            .form-floating.mb-3
                select.form-select#floatingSelect(aria-label="Floating label select example" name='department')
                    //- option(selected value=`${current.dpt.name}`) #{current.dpt.name}
                    each dep in allDepartments
                        option(selected=(dep.name===current.dpt.name) value=`${dep.id}`) #{dep.name}
                label(for="floatingSelect") Select Department
            .form-floating.mb-3.mt-3
                input(type="text" class="form-control" id="firstName" value=`${current.firstName}` name="firstName" placeholder="First Name", required)
                label(for="firstName") First Name
            .form-floating.mb-3
                input(type="text" class="form-control" id="lastName" value=`${current.lastName}` name="lastName" placeholder="Last Name", required)
                label(for="lastName") Last Name
            .form-floating.mb-3
                input(type="text" class="form-control" id="phone" name="phone" placeholder="Phone", )
                label(for="lastName") Phone
                p.text-muted Please consider entering your phone number for optional feedback purposes.
                script.
                    window.addEventListener('DOMContentLoaded', (event) => {
                        const inputElement = document.getElementById('phone');
                        inputElement.focus();
                    });
            .row 
                .col-6
                    button( class="btn btn-primary w-100 mt-3")#tryBtn
                        i.fa.fa-paper-plane.me-2
                        | Try again 
                        //- span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")#spina3
                .col-6
                    button( class="btn btn-danger w-100 mt-3")#submitbtn2
                        i.fa.fa-paper-plane.me-2
                        | Send request 
                        span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")#spina2


    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js")
    script.
        //- ###############################3  Password reset requet  ###############################
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        var loading = $('#spina').hide();
        $("#submitbtn").click(function(event){
            event.preventDefault();
            var form = $("#myform");
            var msg = $("#msg");

            $.ajax({
                url:'/mails/reset',
                type:'post',
                data: form.serialize(),
                beforeSend: function(){
                    loading.show(function(){
                        $("#submitbtn").prop("disabled", true);
                    });
                },
                complete: function(){
                    loading.hide(function(){
                        $("#submitbtn").removeAttr('disabled');
                    });
                    //- listenToCallback();
                },
                timeout: 25000,
            }).then(function(data){
                if(data.status == "success"){
                    console.log('Email Sent')
                    toastr["success"]("Your password reset request has been sent successfully", "Success")
                }else{
                    console.log('Request not completed')
                    toastr[data.status](data.data, data.status)
                }
                console.log(JSON.stringify(data))
            }).catch(function(error){
                console.log('Cannot connect to mail')
                toastr["error"]("Cannot connect to WhatsApp", "Failed")
                console.log(JSON.stringify(request.statusText))
            })
        });

        //- ###############################3  Requesting new email  ###############################
        var loading2 = $('#spina2').hide();
        $("#submitbtn2").click(function(event){
            event.preventDefault();
            var form2 = $("#myform2");
            //- var msg = $("#msg");

            $.ajax({
                url:'/mails/request',
                type:'post',
                data: form2.serialize(),
                beforeSend: function(){
                    loading2.show(function(){
                        $("#submitbtn2").prop("disabled", true);
                    });
                },
                complete: function(){
                    loading2.hide(function(){
                        $("#submitbtn2").removeAttr('disabled');
                    });
                    //- listenToCallback();
                },
                timeout: 30000,
            }).then(function(data){
                toastr[data.status](data.data, data.status)
            }).catch(function(error){
                console.log('Cannot connect to mail')
                toastr["error"]("Cannot connect to WhatsApp", "Failed")
                console.log(JSON.stringify(request.statusText))
            })
        });

        //- ########################## Try Again ########################
        //- var loading3 = $('#spina3').hide();
        //- $("#tryBtn").click(function(event){
        //-     event.preventDefault();
        //-     var form2 = $("#myform2");
        //-     //- var msg = $("#msg");

        //-     $.ajax({
        //-         url:'/mails/api/user',
        //-         type:'post',
        //-         data: form2.serialize(),
        //-         beforeSend: function(){
        //-             loading3.show(function(){
        //-                 $("#tryBtn").prop("disabled", true);
        //-             });
        //-         },
        //-         complete: function(){
        //-             loading3.hide(function(){
        //-                 $("#tryBtn").removeAttr('disabled');
        //-             });
        //-             //- listenToCallback();
        //-         },
        //-         timeout: 30000,
        //-     }).then(function(data){
        //-         location.href = '/mails/user';
        //-         //- location.reload();
        //-         //- toastr[data.status](data.data, data.status);

        //-     }).catch(function(error){
        //-         location.href = '/mails/user';
        //-         //- location.reload();
        //-         console.log('Cannot connect to mail')
        //-         toastr["error"]("Cannot connect to WhatsApp", "Failed")
        //-         console.log(JSON.stringify(request.statusText))
        //-     })
        //- });