extends layout
block content
    if (status == "success")
        //- alert
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            i.bi.bi-envelope
            | An email has been found under that name as follows
            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
        //- .alert.bg-success.text-white Mail found
        form(action="/mails/reset" method="post")#myform
            if (data.Department.name)
                .form-floating.mb-3
                    input(type="text" class="form-control" id="depertment" value=`${data.Department.name}` name="department" placeholder="Last Name", required, disabled)
                    input(type="hidden" class="form-control" id="depertment" value=`${data.Department.name}` name="department" placeholder="Last Name", required)
                    label(for="depertment") Department
            .form-floating.mb-3
                input(type="text" class="form-control" id="lastName" value=`${data.name}` name="fullName" placeholder="Last Name", required disabled)
                input(type="hidden" class="form-control" id="lastName" value=`${data.name}` name="fullName" placeholder="Last Name", required)
                label(for="fullName") Full Name
            .form-floating.mb-3
                input(type="email" class="form-control" id="email" value=`${data.email}` name="email" placeholder="Email", required disabled)
                input(type="hidden" class="form-control" id="email" value=`${data.email}` name="email" placeholder="Email", required)
                label(for="email") Email
            button(type="submit" class="btn btn-danger w-100 mt-3")#submitbtn
                i.fa.fa-paper-plane.me-2
                | Reset Password 
                span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")#spina
    else

        form(action="/mails/request" method="post")#myform2
            .alert.alert-dismissible.fade.show(role='alert',class=`alert-${status}`)
                i.bi.bi-envelope
                | #{data} 
                button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
            //- try again <button type='submit' class="btn btn-danger btn-sm" role="button">Request</button>
            .form-floating.mb-3
                    input(type="text" class="form-control" id="depertment" value=`${current.dpt.name}` name="department" placeholder="Last Name", required)
                    label(for="depertment") Department
            .form-floating.mb-3.mt-3
                input(type="text" class="form-control" id="firstName" value=`${current.firstName}` name="firstName" placeholder="First Name", )
                label(for="firstName") First Name
            .form-floating.mb-3
                input(type="text" class="form-control" id="lastName" value=`${current.lastName}` name="lastName" placeholder="Last Name", )
                label(for="lastName") Last Name
            .row 
                .col-6
                    a( class="btn btn-primary w-100 mt-3" href='/')
                        i.fa.fa-paper-plane.me-2
                        | Try again 
                .col-6
                    button( class="btn btn-danger w-100 mt-3")#submitbtn2
                        i.fa.fa-paper-plane.me-2
                        | Send request 
                        span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")#spina2


    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js")
    script.
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        var loading = $('#spina').hide();
        $("#submitbtn").click(function(event){
            event.preventDefault();
            var form = $("#myform");
            var msg = $("#msg");

            //- function validateForm() {
            //-     var isValid = true;
            //-     $('.form-control').each(function() {
            //-         if ( $(this).val() === '' )
            //-             isValid = false;
            //-     });
            //-     return isValid;
            //- }

            $.ajax({
                url:'/mails/reset',
                type:'post',
                data: form.serialize(),
                beforeSend: function(){
                    loading.show(function(){
                        $("#submitbtn").prop("disabled", true);
                    });
                },
                complete: function(){
                    loading.hide(function(){
                        $("#submitbtn").removeAttr('disabled');
                    });
                    //- listenToCallback();
                },
                timeout: 25000,
            }).then(function(data){
                if(data.status == "success"){
                    console.log('Email Sent')
                    toastr["success"]("Your password reset request has been sent successfully", "Success")
                }else{
                    console.log('Request not completed')
                    toastr["error"]("An error occured while sending your request try again", "Failed")
                }
                console.log(JSON.stringify(data))
            }).catch(function(error){
                console.log('Cannot connect to mail')
                toastr["error"]("Cannot connect to mail", "Failed")
                console.log(JSON.stringify(request.statusText))
            })
        });

        //- ###############################3  Requesting new email  ###############################
        var loading2 = $('#spina2').hide();
        $("#submitbtn2").click(function(event){
            event.preventDefault();
            var form2 = $("#myform2");
            //- var msg = $("#msg");

            $.ajax({
                url:'/mails/request',
                type:'post',
                data: form2.serialize(),
                beforeSend: function(){
                    loading2.show(function(){
                        $("#submitbtn2").prop("disabled", true);
                    });
                },
                complete: function(){
                    loading2.hide(function(){
                        $("#submitbtn2").removeAttr('disabled');
                    });
                    //- listenToCallback();
                },
                timeout: 30000,
            }).then(function(data){
                if(data.status == "success"){
                    console.log('Email Sent')
                    toastr["success"]("Your email creation request has been sent successfully", "Success")
                }else{
                    console.log('Request not completed')
                    toastr["error"]("An error occured while sending your request try again", "Failed")
                }
                console.log(JSON.stringify(data))
            }).catch(function(error){
                console.log('Cannot connect to mail')
                toastr["error"]("Cannot connect to mail", "Failed")
                console.log(JSON.stringify(request.statusText))
            })
        });