extends dashLayout 
block content
    main
        .container-fluid.px-4
            h1.mt-4 #{title}
            ol.breadcrumb.mb-4
                li.breadcrumb-item.active #{title}
            if (user.Role.name == 'Super Admin')
                .card.mb-4
                    .card-header
                        i.fas.fa-table.me-1
                        |  All users

                    .card-body
                        table#newMails
                            thead
                                tr
                                    th First Name
                                    th Last Name
                                    th Email
                                    th Phone
                                    th Status
                                    th Role
                                    th Action
                            tfoot
                                tr
                                    th First Name
                                    th Last Name
                                    th Email
                                    th 
                                        i.fas.fa-phone.text-muted 
                                            span Phone
                                    th Status
                                    th Role
                                    th Action
                            tbody
                                each user in data
                                    tr
                                        td=user.firstName
                                        td=user.lastName
                                        td 
                                            i.fa-solid.fa-paper-plane.text-muted 
                                            |  #{user.email}
                                        if (user.phone)
                                            td 
                                                i.fa-solid.fa-phone.text-muted 
                                                |  #{user.phone}
                                        else 
                                            td.text-center ---
                                        if (user.UserStatus.name == 'Active')
                                            td.text-center
                                                span.badge.text-bg-success
                                                    i.fa-solid.fa-circle-check 
                                                    |  #{user.UserStatus.name}
                                        else if (user.UserStatus.name == 'Inactive')
                                            td.text-center
                                                span.badge.text-bg-danger
                                                    i.fa-solid.fa-circle-xmark 
                                                    |  #{user.UserStatus.name}
                                            //- i.fas.fa-circle-exclamation.text-muted
                                        if (user.Role.name == "Super Admin")        
                                            td 
                                                i.fa-solid.fa-user-tie.text-muted  
                                                |  #{user.Role.name}
                                        else
                                            td 
                                                i.fa-solid.fa-user.text-muted 
                                                |  #{user.Role.name}
                                        td
                                            .btn-group
                                                button.btn.btn-light.btn-sm.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false").

                                                    Actions |

                                                ul.dropdown-menu
                                                    li
                                                        a.dropdown-item(href="#").text-muted.text-center.border-bottom
                                                            | Actions
                                                    li
                                                        a.dropdown-item.btn(href="#" data-bs-toggle="modal" data-bs-target=`#staticBackdrop${user.id}`).border-bottom
                                                            <i class="fa-solid fa-user-pen text-muted"></i> 
                                                            | Edit

                                                    li
                                                        a.dropdown-item(href="#").border-bottom
                                                            <i class="fa-solid fa-user-check text-muted"></i> 
                                                            | Activate
                                                    li
                                                        a.dropdown-item(href="#").text-danger
                                                            <i class="fa-solid fa-user-large-slash"></i> 
                                                            | Deactivate
                                        //- user model                   
                                        include includes/userModal.pug

            else 
                .card.mb-4
                    .card-header
                        i.fas.fa-table.me-1
                        |  Busted!! Only Super Admins can access User Management

//- //- Button trigger modal 
//- button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop").
//-     Launch static backdrop modal